<?xml version="1.0" encoding="utf-8"?>
<stb_file>
	<file_info>
		<strs>2</strs>
		<file_name>/resources/en-us/str/cnv/location/open_worlds/class/trooper/chapter_3/finale/events.stb</file_name>
	</file_info>
	<file_content>
		<text bitflag="3393" id1="955869" id2="17" version="1065353216">Scan = complete // Republic personnel = confirmed // Resuming patrol path // For the Republic!</text>
		<text bitflag="3393" id1="957628" id2="17" version="1065353216">This is Lesher: enemy bomber spotted! We need anti-air support immediately!</text>
	</file_content>
</stb_file>
